<% layout('layouts/admin-boilerplate') %>

<div class="text-center">
    <h1>Admin Enquiries</h1>
    <p>Admins will be able to see any new enrolment and enquiry requests here.</p>

    <div class="col-"></div>

    <% if (enquiries.length === 0) { %>
        <p><strong>No new enquiries. Nice!</strong></p>
    <% } else { %>
        <% for (let enquiry of enquiries) { %>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 card mb-3">
                    <div class="card-body">

                        <% if (enquiry.submittedFrom === 'Seeded' || 'Enrolment') { %> 
                            <h5 class="card-title">Source: <%= enquiry.submittedFrom %></h5>
                            <small>
                                <p class="card-text">
                                    Parent: <strong><%= enquiry.parentFirstName %> <%= enquiry.parentLastName %></strong><br>
                                    Email: <%= enquiry.email %><br>
                                    Contact: <%= enquiry.contactNumber %><br>
                                    Student: <strong><%= enquiry.studentFirstName %> <%= enquiry.studentLastName %></strong><br>
                                    Date of Birth: <%= enquiry.formattedDOB %><br>
                                    Gender: <%= enquiry.gender %><br>
                                    Desired Music Program: <%= enquiry.desiredMusicProgram %><br>
                                    Preferred Time: <%= enquiry.preferredTime %><br>
                                    <br>
                                    <%= enquiry.notes %><br>
                                </p>
                            </small>

                            <form class="d-inline" action= <%=`/admin/enquiries/${enquiry._id}/createNewEntries`%> method="POST">
                                <button class="btn btn-sm btn-info mt-3">Save Info</button>
                            </form>

                            <form class="d-inline" action= <%= `/admin/enquiries/${enquiry._id}/clear_enquiry?_method=DELETE` %> method="POST">
                                <button class="btn btn-sm btn-danger mt-3">Clear</button>
                            </form>
                        <% } %> 
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        <% } %>
    <% } %> 
</div>