<% layout('layouts/boilerplate') %>
    <div class="text-center">
        <h1>Edit a Student</h1>
        <p>Admins can manually edit a student on this page.</p>
    </div> 

    <div class="card p-5 container col-md-6 offset-md-3">
        <form id="editForm" action="/admin/student/<%= student._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <section>
                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="firstName" name="student[firstName]"
                        placeholder="First Name" value="<%= student.firstName %>" required autofocus>
                    <div class="invalid-feedback">
                        Student requires a valid first name.
                    </div>
                    <label class="form-label" for="firstName">First Name</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="lastName" name="student[lastName]"
                        placeholder="Last Name" value="<%= student.lastName %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid last name.
                    </div>
                    <label class="form-label" for="lastName">Last Name</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="course" aria-label="Courses dropdown menu"
                        name="student[course]" required>
                        <option selected value="<%= student.course %>"><%= student.course %></option>
                        <option value="Jitterbugs">Jitterbugs</option>
                        <option value="Beeboppers">Beeboppers</option>
                        <option value="Pianorama Juniors">Pianorama Juniors</option>
                        <option value="Pianorama Primary">Pianorama Primary</option>
                        <option value="Individual Lessons">Individual Lessons</option>
                        <option value="Adult Lessons">Adult Lessons</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a course.
                    </div>
                    <label class="form-label" for="course">Course</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="pianoGrade" name="student[pianoGrade]"
                        placeholder="Piano Grade" value="<%= student.pianoGrade %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid piano grade.
                    </div>
                    <label class="form-label" for="pianoGrade">Piano Grade</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="theoryGrade" name="student[theoryGrade]"
                        placeholder="Theory Grade" value="<%= student.theoryGrade %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid theory grade.
                    </div>
                    <label class="form-label" for="theoryGrade">Theory Grade</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="day" aria-label="Day dropdown menu"
                        name="student[day]" required>
                        <option selected value="<%= student.day %>"><%= student.day %></option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a day.
                    </div>
                    <label class="form-label" for="day">Day</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="time" name="student[time]"
                        placeholder="Time" value="<%= student.time %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid course time.
                    </div>
                    <label class="form-label" for="time">Time</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="date" value="<%= student.dateOfBirth %>" id="dateOfBirth"
                        name="student[dateOfBirth]" placeholder="Date of Birth">
                    <label class="form-label" for="dateOfBirth">Date of Birth</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="gender" aria-label="Gender dropdown menu" name="student[gender]"
                        required>
                        <option selected value="<%= student.gender %>"><%= student.gender %></option>
                        <option value="Unsure">Unsure</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose an option.
                    </div>
                    <label class="form-label" for="gender">Gender</label>
                </div>

                <div class="row form-floating mb-3">
                    <textarea class="form-control" placeholder="Notes" id="notes"
                        style="height: 150px" name="student[notes]"><%= student.notes %></textarea>
                    <label class="form-label" for="notes">Notes</label>
                </div>
            </section>
        </form>
        <div class="row">
            <div class="col-6 offset-3">
                <button type="submit" form="editForm" class="btn btn-sm btn-primary">Edit Student</button>
                <button class="btn btn-sm btn-secondary" href="/admin/index">Back</button>
                <form class="d-inline" action="/admin/student/<%= student._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>








    