<% layout('layouts/admin-boilerplate') %>
    <div class="text-center">
        <h1>Edit a Student</h1>
        <p>Admins can manually edit a student on this page.</p>
    </div> 

    <div class="card p-5 container col-md-6 offset-md-3">
        <form id="editForm" action="/admin/student/<%= student._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <section>
                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="firstName" name="student[firstName]"
                        placeholder="First Name" value="<%= student.firstName %>" required autofocus>
                    <div class="invalid-feedback">
                        Student requires a valid first name.
                    </div>
                    <label class="form-label" for="firstName">First Name</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="lastName" name="student[lastName]"
                        placeholder="Last Name" value="<%= student.lastName %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid last name.
                    </div>
                    <label class="form-label" for="lastName">Last Name</label>
                </div>

                <p>
                    <% if (student.course === undefined) { %> 
                        <strong>Course:</strong> Not enrolled in any course.
                    <% } else { %> 
                        <strong>Course:</strong> <%= student.course.title %>, <%= student.course.day %> <%= student.course.time %>
                    <% } %> 
                </p>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="pianoGrade" name="student[pianoGrade]"
                        placeholder="Piano Grade" value="<%= student.pianoGrade %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid piano grade.
                    </div>
                    <label class="form-label" for="pianoGrade">Piano Grade</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="theoryGrade" name="student[theoryGrade]"
                        placeholder="Theory Grade" value="<%= student.theoryGrade %>" required>
                    <div class="invalid-feedback">
                        Student requires a valid theory grade.
                    </div>
                    <label class="form-label" for="theoryGrade">Theory Grade</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="date" value="<%= student.dateOfBirth %>" id="dateOfBirth"
                        name="student[dateOfBirth]" placeholder="Date of Birth">
                    <label class="form-label" for="dateOfBirth">Date of Birth</label>
                </div>

                <div class="row form-floating mb-3">
                    <select class="form-select" id="gender" aria-label="Gender dropdown menu" name="student[gender]"
                        required>
                        <option id="Unsure" value="Unsure">Unsure</option>
                        <option id="Female" value="Female">Female</option>
                        <option id="Male" value="Male">Male</option>
                        <option id="Other" value="Other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose an option.
                    </div>
                    <label class="form-label" for="gender">Gender</label>
                </div>

                <div class="row form-floating mb-3">
                    <textarea class="form-control" placeholder="Notes" id="notes"
                        style="height: 150px" name="student[notes]"><%= student.notes %></textarea>
                    <label class="form-label" for="notes">Notes</label>
                </div>
            </section>
        </form>
        <div class="row">
            <div class="col-6 offset-3">
                <button type="submit" form="editForm" class="btn btn-sm btn-primary">Edit Student</button>
                <a class="btn btn-sm btn-secondary" href="/admin/student/index">Back</a>
                <form class="d-inline" action="/admin/student/<%= student._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        addEventListener("load", (event) => {
            document.getElementById("<%= student.gender %>").setAttribute("selected", "");
        });
    </script>






    