<% layout('layouts/boilerplate') %>
    <div class="text-center">
        <h1>Manage Students</h1>
        <p>Admins can add or remove students from a music program here.</p>
    </div>

    <div class="container text-center py-3">
        <div class="row">
            <small class="col">
                <h2><%= musicProgram.title %></h2>
                <p>
                    Day: <strong><%= musicProgram.day %></strong><br>
                    Time: <strong><%= musicProgram.time %></strong><br>
                    Duration: <%= musicProgram.duration %><br>
                    Teacher: <%= musicProgram.teacher %><br>
                    Room: <%= musicProgram.room %><br>
                    Notes: <%= musicProgram.notes %>
                </p>
            </small>
        </div>
        <div class="row">
            <div class="col">
                <h2>Enrolled Students</h2>
                <div class="mb-3">
                    <% if (musicProgram.enrolled.length === 0) { %>
                        <p class="mb-3">No students enrolled yet!</p>
                    <% } else { %>
                        <% for(let student of musicProgram.enrolled) { %> 
                            <%= student.firstName %> <%= student.lastName %><br>
                        <% } %> 
                    <% } %>
                </div>
                
                <form class="row justify-content-center" action="/admin/music_program/<%= musicProgram._id %>/enrol_students?_method=PUT" method="POST">
                    <div class="col-auto">
                        <input class="form-control" type="text" name="student[firstName]"
                        placeholder="First name">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="text" name="student[lastName]"
                        placeholder="Last name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn btn-primary mb-3">Add Student</button>
                    </div>
                </form>

                <form class="row justify-content-center" action="/admin/music_program/<%= musicProgram._id %>/unenrol_student?_method=PUT" method="POST">
                    <div class="col-auto">
                        <input class="form-control" type="text" name="student[firstName]"
                        placeholder="First name">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="text" name="student[lastName]"
                        placeholder="Last name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn btn-danger mb-3">Remove Student</button>
                    </div>
                </form>

                <h2>Un-enrolled students</h2>
                <% for(let student of students) { %> 
                    <% if(!student.course) { %>
                        <%= student.firstName %> <%= student.lastName %><br>
                    <% } %>
                <% } %> 
            </div>
        </div>
    </div>
