<% layout('layouts/boilerplate') %>
    <div class="text-center">
        <h1>Edit a Program</h1>
        <p>Admins can manually edit a parent on this page.</p>
    </div> 

    <div class="card p-5 container col-md-6 offset-md-3">
        <form id="editForm" action="/admin/parent/<%= parent._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <section>
                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="firstName" name="parent[firstName]"
                        placeholder="First Name" value="<%= parent.firstName %>" required autofocus>
                    <div class="invalid-feedback">
                        Parent requires a valid first name.
                    </div>
                    <label class="form-label" for="firstName">First Name</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="text" id="lastName" name="parent[lastName]"
                        placeholder="Last Name" value="<%= parent.lastName %>" required>
                    <div class="invalid-feedback">
                        Parent requires a valid last name.
                    </div>
                    <label class="form-label" for="lastName">Last Name</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="email" id="email" name="parent[email]"
                        placeholder="Email" value="<%= parent.email %>" required>
                    <div class="invalid-feedback">
                        Parent requires a valid email.
                    </div>
                    <label class="form-label" for="email">Email</label>
                </div>

                <div class="row form-floating mb-3">
                    <input class="form-control" type="tel" id="contactNumber" name="parent[contactNumber]"
                        placeholder="Contact Number" value="<%= parent.contactNumber %>" required>
                    <div class="invalid-feedback">
                        Parent requires a valid contact number.
                    </div>
                    <label class="form-label" for="contactNumber">Contact Number</label>
                </div>

                <div class="row form-floating mb-3">
                    <textarea class="form-control" placeholder="Notes" id="notes"
                        style="height: 150px" name="parent[notes]"><%= parent.notes %></textarea>
                    <label class="form-label" for="notes">Notes</label>
                </div>
            </section>
        </form>
        <div class="row">
            <div class="col-6 offset-3">
                <button type="submit" form="editForm" class="btn btn-sm btn-primary">Edit Parent</button>
                <a class="btn btn-sm btn-secondary" href="/admin/index">Back</a>
                <form class="d-inline" action="/admin/parent/<%= parent._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>