<% layout('layouts/admin-boilerplate') %> 
<div class="text-center">
    <h1>Add a Dependent to a Parent</h1>
    <p>Admins can manually add children/dependents to parents on this page.</p>
</div>

<div class="container text-center py-3">
    <div class="row">
        <small>
            <h2><%= `${parent.firstName} ${parent.lastName}` %></h2>
            <p>
                Email: <%= parent.email %><br>
                Contact: <%= parent.contactNumber %><br>
                <% if (parent.notes) { %>
                    Notes: <%= parent.notes %>
                <% } %>

                <p><strong>Dependents:</strong><br>
                    <% if (parent.dependents.length === 0) { %>
                        No dependents yet!
                    <% } else { %>
                        <% for (let i = 0; i < parent.dependents.length; i++) { %>
                           <%= `${parent.dependents[i].firstName} ${parent.dependents[i].lastName}` %><br>
                       <% } %>
                    <% } %>
                </p>
            </p>
        </small>
    </div>

    <form class="row justify-content-center" action="/admin/parent/<%= parent._id %>/add_dependents?_method=PUT" method="POST">
        <div class="col-auto">
            <input class="form-control" type="text" name="student[firstName]"
            placeholder="First name">
        </div>
        <div class="col-auto">
            <input class="form-control" type="text" name="student[lastName]"
            placeholder="Last name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn btn-primary mb-3">Add Dependent</button>
        </div>
    </form>

    <form class="row justify-content-center" action="/admin/parent/<%= parent._id %>/remove_dependents?_method=PUT" method="POST">
        <div class="col-auto">
            <input class="form-control" type="text" name="student[firstName]"
            placeholder="First name">
        </div>
        <div class="col-auto">
            <input class="form-control" type="text" name="student[lastName]"
            placeholder="Last name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn btn-danger mb-3">Remove Dependent</button>
        </div>
    </form>

    <a class="btn btn-sm btn-secondary mb-3" href="/admin/parent/index">Back</a>

    <div class="row">
        <div class="col">
            <h2>Students without Parents</h2>
            <div class="mb-3">
                <p>
                <% for (let student of students) { %>
                    <% if (student.parent === undefined) { %>
                        <%= student.firstName %> <%= student.lastName %><br>
                    <% } %>
                <% } %>
                </p>
            </div>
        </div>
    </div>
