<% layout('layouts/boilerplate') %> 
<div class="text-center">
    <h1>Add a Dependent to a Parent</h1>
    <p>Admins can manually add children/dependents to parents on this page.</p>
</div>

<div class="container text-center py-3">
    <div class="row">
        <small>
            <h2><%= `${parent.firstName} ${parent.lastName}` %></h2>
            <p>
                Email: <%= parent.email %><br>
                Contact: <%= parent.contactNumber %><br>
                <% if (parent.notes) { %>
                    Notes: <%= parent.notes %>
                <% } %>
            </p>
        </small>
    </div>

    <div class="row">
        <div class="col">
            <h2>Students without Parents</h2>
            <div class="mb-3">
                <p>
                <% for (let student of students) { %>
                    <% if (student.parent === undefined) { %>
                        <%= student.firstName %> <%= student.lastName %><br>
                    <% } %>
                <% } %>
                </p>
            </div>
        </div>
    </div>
